/* Hoja de estilos añadida por andrés para modificar externamente la carpeta styles */



body{
    
    background: linear-gradient(
        90deg,
        rgb(64, 98, 56) 0%,
        rgba(197, 223, 204, 1) 23%,
        rgba(64, 98, 56, 1) 100%
      );
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

 .navbar-light .navbar-nav .nav-link.active {
    
     color: darkorange;
 }

 .navbar-light .navbar-nav .nav-link{

    color: darkorange;

 }
 .btn-outline-dark{
    color: darkorange;
    
 }
 .btn-outline-dark{

    color: darkorange; 
 }
